<html>
	<head>
		<link rel="stylesheet" type="text/css" href="home.css">
	</head>
	<body>
		<div class="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/createRestaurant">Create Restaurant </a></li>
				<li><a href="/search">Search</a></li>
				<li style="float:right"><a href="/logout">Logout</a></li>
			</ul>
		</div>
		<div>
		<h1> </h1>	
			<table>
				<tr>
					<th width="80%"><h1>Restaurant List</h1></th>
				</tr>
				<% for(var i=0; i<result.length;i++) { %>
					<tr>
						<td>Name: <%=result[i].name %></td>
					</tr>
					<tr>
						<td><img src="<%=result[i].photo %>" height="150" width="200"></img></td>
					</tr>
					<tr>
						<td>Borough: <%=result[i].borough %></td>
					</tr>
					<tr>
						<td>Cuisine: <%=result[i].cuisine %></td>
					</tr>
					<tr>
						<td>Street: <%=result[i].address.street %></td>
					</tr>
					<tr>
						<td>Building: <%=result[i].address.building %></td>
					</tr>
					<tr>
						<td>Zipcode: <%=result[i].address.zipcode %></td>
					</tr>
					<tr>
						<td>Grades:</td>
					</tr>
						<% 
						var checkUserRate=true;
						for(var k=0; k<result[i].grades.length;k++) { 
						
						if(result[i].grades[k].user==user)
						   checkUserRate= false;
						%>
					
					<tr>
						<td> <%=k+1%>. <%=result[i].grades[k].user %> [ <%=result[i].grades[k].score %> ]</td>
					</tr>
		
					<%	} 
										
					if(checkUserRate){%>			
					 <tr>
				     <td>
					  <form action="/rate" method="post">
					      <input type="hidden" value="<%=result[i].restaurant_id %>" name="restaurant_id">
						  <input type="number"  name="score" min="1" max="10" value="10" required >
					      <input type="submit" value="Rate" >	  
				     </form>
					</tr>
					<%}%>
				<%	if(result[i].owner==user){%>
					<tr>		
					<td><form action="/edit" method="get"><input type="hidden" value="<%=result[i].restaurant_id %>" name="restaurant_id"><input type="submit" value="Edit" ></form>
					<form action="/cancel" method="post"><input type="hidden" value="<%=result[i].restaurant_id %>" name="restaurant_id"><input type="submit" value="Delete" ></form></td>
					</tr>
				<%}%>
					
					<tr><td><hr></td></tr>
				<% } %>
			</table>
		</div>

	</body>
</html>