<html>
	<head>
		<link rel="stylesheet" type="text/css" href="home.css">
	</head>
	<body>
		<div class="navigation">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/createRestaurant">Create Restaurant </a></li>
				<li><a href="/search">Search</a></li>
				<li style="float:right"><a href="/logout">Logout</a></li>
			</ul>
		</div>
		<div class="contect">
			<table>
					<tr>
						<td colspan="2">
						
						</td>
					</tr>
					<tr>
						<td>Name</td>
						<td><%=name %></td>
					</tr>
					<tr>
						<td>Borough</td>
						<td><%=borugh %></td>
					</tr>
					<tr>
						<td>Cuisine</td>
						<td><%= cuisine %></td>
					</tr>
					<tr>
						<td colspan="2" align="center">Address</td>
					</tr>
					<tr>
						<td>Street</td>
						<td><%=street %></td>
					</tr>
					<tr>
						<td>Building</td>
						<td><%=building %></td>
					</tr>
					<tr>
						<td>Zipcode</td>
						<td><%=zipcode %></td>
					</tr>
					<tr>
						<td>Coord</td>
						<td><%=coord %></td>
					</tr>
					<tr>
						<td>Owner</td>
						<td><%=owner %></td>
					</tr>
			</table>
		</div>
	</body>
</html>